@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Shrikhand&family=Pacifico&family=Titan+One&family=Rancho&family=Fredoka+One&family=Rubik+Glitch&family=Rubik+Wet+Paint&display=swap");

body {
  font-family: "DM Sans", sans-serif !important;
  text-align: center;
}
.navbar {
  padding: 10px;
}
.solid-nav {
  background-color: #aaa;
  transition: background-color 0.2s linear;
}
.header {
  display: block;
  height: 400px;
}
.download {
  animation: Color 4s linear infinite;
}
@keyframes Color {
  0% {
    color: #a0d468;
  }

  20% {
    color: #4fc1e9;
  }

  40% {
    color: #ffce54;
  }

  60% {
    color: #fc6e51;
  }

  80% {
    color: #ed5565;
  }

  100% {
    color: #ac92ec;
  }
}

.headerImage {
  display: block;
  height: 450px;
  width: 450px;
  margin-top: 20px;
}
.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  text-align: justify;
}

.Content-grid {
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.name {
  font-family: "Fredoka One", cursive;
  font-size: 50px !important;
  margin-bottom: 10px;
}
.viewProjects {
  margin-top: 90px;
  margin-bottom: 10px;
  color: #00acee;
}
.viewProjects:hover {
  text-decoration: underline;
}
.skills-ul {
  margin-top: 20px;
  line-height: 35px;
  font-size: 17px;
  font-weight: 400;
  list-style-type: none;
}
.heading {
  font-family: "Rancho", cursive !important;
  font-weight: bold;
  color: #00acee;
  font-size: 40px !important;
}

.link1 {
  padding: 10px;
}
.link2 {
  padding: 10px;
}
.link3 {
  padding: 10px;
}
.Footer {
  margin-top: 150px;
  height: 90px;
}
.footer-icons {
  padding-top: 10px;
  margin-top: 20px;
}
.footer-logo {
  padding-top: 10px;
  margin-top: 20px;
}
.footer-logo h1 {
  font-family: "Rancho", cursive !important;
  font-weight: bold;
  color: #00acee;
  font-size: 30px !important;
}
.footer-copyright {
  padding-top: 10px;
  margin-top: 30px;
}
.footer-copyright p {
  font-size: 13px;
}

/* Projects */

.project-header {
  height: 350px;
  background-color: #e5e5e5;
}
.filter {
  font-family: "DM Sans", sans-serif !important;
  font-weight: normal !important;
}
.filter-tag {
  cursor: pointer;
}
.all-projects {
  margin-top: 50px;
}
.ui.dropdown {
  max-width: 800px;
}
.wholeAbout {
  margin-top: 30px;
}
/* .about-content {
  margin-left: -120px;
} */
.aboutImage {
  height: auto;
  width: 600px;
  margin-left: 80px;
  margin-top: -30px;
  border-radius: 5px;
}

.aboutsubHeading {
  text-align: left !important;
  margin-top: 70px;
  margin-left: 150px;
  font-size: 20px;
  color: #d44638;
  font-weight: bold;
}
.aboutContent {
  text-align: justify;
  margin-top: 10px;
  margin-left: 150px;
  width: 90%;
}

.quote
{
  margin-top: 150px !important;
  width: 80%;
  margin: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 40px;
  padding-bottom: 70px;
  border-radius: 10px;
}
.quoteheading {
  font-family: "Titan One", cursive;
  text-align: center !important;
  font-size: 35px;
  color: lightgrey;
}
.quotecontent
{
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
}
.quoteauthor
{
  float: right !important;
  font-size: 20px !important;
  font-style: italic;
  margin-top: 10px;
  color: grey;
}
.form
{
  margin-top: 150px !important;
  width: 50%;
  margin: auto;
}


@keyframes blink {
  0%, 100% {
    border-right: 1px solid transparent; 
  }
  50% {
    border-right: 1px solid ; 
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 87%;
  }
}


.head {
  overflow: hidden;
  white-space: nowrap;
  width: 87%;
  border-right: 1px solid transparent;
  animation: typing 4s steps(30, end), blink 1s step-end infinite;
}